body {
  margin: 0px;
}
html {
background: dimgrey;
font-family: 'Montserrat', sans-serif;
}

h1 {
  color: white;
  font-size: 3em;
  text-align: center;
}

p {
  color: greenyellow;
  font-size: 2em;
  text-align: center;
}

img {
  margin: 1px;
  transition: all 1s;
  justify-content: center;
}

img:hover {
  transform: scale(1.1);
}

.container {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  justify-items: stretch;
  align-items: stretch;
} 